.MpasJediTutorial {
    padding-left: 20px;
    padding-right: 20px;
}
.MpasJediTutorial .content {
    text-align: left;
    padding-bottom: 20px;
}
.MpasJediTutorial h1 {
    font-size: 2.0em;
    margin-top: 50px;
}
.MpasJediTutorial h2 {
    font-size: 1.5em;
    margin: 20px 0 10px 0;
    text-align: center;
}

.MpasJediTutorial .NavButton {
    display: flex;
}

.MpasJediTutorial .NavButton .NextButton {
    position: absolute;
    padding-right: 30px;
    padding-top: 20px;
    top: 0;
    right: 0;
}

.MpasJediTutorial .NavButton .PreviousButton {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 30px;
    padding-top: 20px;
}
